<li id="<%= feed_item.id %>">
  <div class="row">
    <aside clas="span2">
      <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    </aside>
    <div class="span6">
      <span class="user">
        <%= link_to feed_item.user.name, feed_item.user %>
      </span>
      <span class="content">
        <%= feed_item.content %>
      </span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
      </span>
      <% if current_user?(feed_item.user) %>
        <%= link_to "delete", feed_item, method: :delete,
                                         confirm: "Are sure to delete?",
                                         title: feed_item.content %>
      <% end %>
    </div>
  </div>
</li>
